.clicked {
    background-color: lightgreen;
}

body {
    background-color: #FCAF58;
    text-transform: lowercase;
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px
}

/* INDEX PAGE CSS */

body {
    background-image:url(https://i.imgur.com/Cy8pMWO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: linear-gradient(#FCAF58, #ebf8e1, #3f87a6 ) fixed;
    text-align: center;
}

.gap {
    height: 20px;
}

.custom-gap {
    height: 17px;
}

.index-bodywrapper {
    margin-bottom: 90px;
    width: 50%;
    margin: 0 auto;
}

.index-bodywrapper label{
    display: block;
}


.index-gridwrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


.index-create {
    /* border: 1px solid black; */
}

.index-join label {
    /* border: 1px solid black; */
}

.index-settings {
    /* border: 1px solid black; */
    text-align: center;
}

.index-dark-btn {
    background-color: #087E8B;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0.5rem;
    border: 1px solid #320E3B;
    border-radius: 2px;
}
.index-dark-btn:hover {background-color: #087e8bcb}

.index-dark-btn:active {
    background-color: #087e8b;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

.index-light-btn {
    background-color: #320E3B;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0.5rem;
    border: 1px solid #087E8B;
    border-radius: 2px;
}
.index-light-btn:hover {background-color: #320e3bbf}
.index-light-btn:active {
    background-color: #087e8bcb;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

/* layout center header */

.title-link {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.input-label-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem auto;
    width: 70%;
    text-align: right;
}

.label {
    display: block;
}

.input {
    width: 75%;
    height: 1.5rem;
    border: 1px solid #087E8B;
    border-radius: 2px;
    background-color: white;
}

.dark-btn {
    background-color: #087E8B;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0.5rem;
    border: 1px solid #320E3B;
    border-radius: 2px;
}
.index-dark-btn:hover {background-color: #087e8bcb}

.light-btn {
    background-color: #320E3B;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0.5rem;
    border: 1px solid #087E8B;
    border-radius: 2px;
}
.light-btn:hover {background-color: #320e3bbf}

/* Styling results page below */

.winner-wrapper, .loser-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 10px auto;
    width: 50%;
    
}

.winner-wrapper span, .loser-wrapper span {
    padding: 10px 0;
    border: 1px solid black;
}

.results-end-game-btn, .results-title {
    margin: 0 auto;
    text-align: center;
}


/* LOBBY CSS */

.lobby-play-btn {
        background-color: #320E3B;
        color: white;
        font-weight: 600;
        letter-spacing: .5px;
        padding: 0.5rem;
        border: 1px solid #087E8B;
        border-radius: 2px;

}
/* .lobby-play-btn:hover {background-color: #320e3bbf} */

/* GAME CSS BELOW */


.game-wrapper-main {
    width: 50%;
    margin: 0 auto;
}

.game {
    text-align: center;
}

.game-stats-nav {
    background-color: #320E3B;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0; 
    margin: 0.5rem 0;
    border: 2px solid rgb(193, 152, 30);
    border-radius: 20px;
}

