.clicked {
    background-color: lightgreen;
}

body {
    background-color: #FCAF58;
    text-transform: lowercase;
    font-family: 'Indie Flower', cursive;
}


/* layout center header */

.title-link {
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.game {
    text-align: center;
}

.game-stats-nav {
    background-color: #320E3B;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0; 
    margin: 0.5rem 0;
}

.input-label-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem auto;
    width: 70%;
    text-align: right;
}

.label {
    display: block;
}

.input {
    width: 75%;
    height: 1.5rem;
    border: 1px solid #087E8B;
    border-radius: 2px;
    background-color: white;
}

.dark-btn {
    background-color: #087E8B;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0.5rem;
    border: 1px solid #320E3B;
    border-radius: 2px;
}

.light-btn {
    background-color: #320E3B;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0.5rem;
    border: 1px solid #087E8B;
    border-radius: 2px;
}

/* Styling results page below */

.winner-wrapper, .loser-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
    margin: 10px auto;
    width: 50%;
    background-color: rgb(255, 255, 255, 0.5);
    
}

.winner-wrapper span, .loser-wrapper span {
    padding: 10px 0;
    border: 1px solid black;
}

.results-end-game-btn, .results-title {
    margin: 0 auto;
    text-align: center;
}


