<% layout('layout') -%>

<div class="game-wrapper-main">

  <div class="game-stats-nav">

    <h3 class="game-letter-h3">Letter: <span class="game-letter-span"></span> </h3>
    
    <h3 class="game-timer-h3">Timer: <span class="game-timer-span">75</span> </h3>
    
    <h3>Round: 1</h3>

  </div>

  <button class="game-timer-btn light-btn">Start timer</button>

  <form action="/marking-page">
    <% categoryData.forEach(category => { %>
      <div class="input-label-group">
        <label for="" class="label"><%= category.category %></label>
        <input type="text" class="input" name="<%= category.cat_id %>" data-id="<%= user_id %>" autocomplete="off">
      </div>
    <% }) %>


    <button class="game-fun-btn dark-btn">wow (Owen Wilson Voice)</button>
  </form>

</div>

<script src="js/game.js"></script>
