<% layout('layout') -%>
<div class="gap"></div>
<div class="gap"></div>
    <div class="index-bodywrapper">
        <div class="index-gridwrap">
            <div class="index-create">
                <h2>Create Game</h2>
                <div class="gap"></div>

                <form method="post" action="/create-game" class="create-game-form">

                    <div class="index-input-label-group create-game-name-div">
                        <label for="gameName">Game Name:</label>
                        <div></div>
                        <input name="gameName" type="text" class="create-game-input-name"> 
                    </div>

                    <div class="index-input-label-group">
                        <label for="displayName">Host name</label>
                        <div></div>
                        <input name="displayName" type="text"> 
                    </div>

                    <div class="index-input-label-group">
                        <label for="numRounds">number of rounds</label>
                        <div></div>
                        <input name="numRounds" type="number" max="10" min="1"> 
                    </div>



                    <div class="gap"></div>

                    <button class="index-dark-btn" disabled="true">Create Game</button>

                </form>

            </div>

            <div class="index-join">
                <h2>Join Game</h2>
                <div class="gap"></div>
                <form method="post" action="/join-game">

                    <div class="index-input-label-group join-game-div">
                        <label for="">Game Name:</label>
                        <div></div>
                        <input name="gameName" type="text" class="join-game-input-name">
                    </div>
                    <div class="index-input-label-group">
                        <label for="displayName">Display Name:</label>
                        <div></div>
                        <input name="displayName" type="text">
                    </div>
                    <div class="gap"></div>
                    <button class="index-light-btn" disabled="true">Join Game</button>
                    
                </form>
            </div>
        </div>
        <!-- UNCOMMENT IF YOU WANT TO ADD SETTINGS -->
        <!--<div class="gap"></div>
                <div class="index-settings">
                    <h2>Settings</h2>
                </div> -->
</div>

<script src="./js/index.js"></script>

