<% layout('layout') -%>
<div class="gap"></div>
<div class="gap"></div>
<div class="wrapper">
  <h2 class="lobby-name"></h2>
  <div class="gridwrap">
    <h3>Players</h3>
    <section class="lobby-players-list"></section>
    <div class="gap"></div>
    <div class="lobby-actions-div">
      <button class="lobby-play-btn" disabled="true">Wait for Host...</button>
    </div>
  </div>
</div>

<script src="js/lobby.js"></script>
