<% layout('layout') -%>

<div class="wrapper">
  You are in lobby <%#= gameName %>
  <div class="gridwrap">
    <h3>Players</h3>
    <section class="lobby-players-list"></section>
  </div>


</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/lobby.js"></script>
