<% layout('layout') -%>

<div class="wrapper">
  <h2 class="lobby-name"></h2>
  <div class="gridwrap">
    <h3>Players</h3>
    <section class="lobby-players-list"></section>
    <button class="lobby-play-btn" disabled="true">Wait for Host...</button>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/lobby.js"></script>
