<% layout('layout') -%>

<div class="gap"></div>
<div class="gap"></div>

<div class="marking-page-main">
  
  <table data-gameid="<%= gameId %>" class="marking-page-answers-table" style="white-space: nowrap;">
    <tr>
      <th>Player Names</th>
      <% categoryNamesInGame.forEach(category => { %>
        <th><%= category.category %></th>
      <% }) %>
      <th>Scores</th>
    </tr>
  </table>

<a href="/results" class='dark-btn'>Results</a>

<script src="/js/marking-page.js"></script>
